
.carousel {
    background-color: #5cb24c;
    max-width: 1080px;
    max-height: 720px;
}

.carousel-inner{
    align-content: center;
}

.carousel-item{

    width: 100%;
    height: 100%;
    object-fit:contain;
}

.carousel-inner{
    justify-content: center;
}




