
.carousel {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 300px; /* ajusta la altura según tu diseño */
}

.carousel-item {
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.carousel-text {
    position: absolute;
    bottom: 20px; /* Ajusta la distancia del texto al fondo */
    left: 20px; /* Ajusta la distancia del texto al borde izquierdo */
    color: #ffffff; /* Color del texto */
    font-size: 18px; /* Tamaño de fuente del texto */
}

.carousel-button {
    position: absolute;
    bottom: 20px; /* Ajusta la distancia del botón al fondo */
    right: 20px; /* Ajusta la distancia del botón al borde derecho */
    padding: 10px 20px; /* Ajusta el relleno del botón */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.carousel-button:hover {
    background-color: #17d89b; /* Color de fondo del botón al pasar el mouse */
}

/* Estilos para el carousel */












