.flip-card {
    background-color: transparent;
    width: 310px;
    height: 254px;
    perspective: 10000px;
    font-family: sans-serif;
  }

  .title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgb(190, 75, 167);
    border-radius: 1rem;
  }

  .flip-card-front {
    background: linear-gradient(rgb(36, 38, 96),rgb(49, 152, 80,0.7));
    /* background: linear-gradient(120deg, rgb(105, 215, 118) 60%, rgb(51, 151, 81) 100%); */
    color: coral;
  }

  .flip-card-back {
    background: linear-gradient(120deg, rgb(64, 73, 176) 30%, rgb(19, 23, 90) 88%);
    color: white;
    transform: rotateY(180deg);
  }
