.footer {
    background-color: #116506; /* Color verde palta para el footer */
    color: #fff;
    padding: 30px 0;
    grid-row: auto;
}

.custom-btn {
    background-color: #1a065a; /* Cambia el color de fondo del botón */
    color: #fff; /* Cambia el color del texto del botón */
}
.nav-link-custom {
    color: #1a065a; /* Cambiar color del texto de los enlaces */
    /* Otros estilos para los enlaces si lo deseas */
}
.footer .nav-link {
    color: #fff !important;
}
.text-white {
    color: #ffffff; /* Color blanco */
}
