p{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
    color: rgb(255, 255, 255) ;
}
.h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20px;
    color: seashell;
}


.bg-gradient-primary-to-secondary {
    background: #4b58e8;
    background: linear-gradient(135deg, hsl(223, 100%, 29%) 0%, hsl(275, 100%, 46%) 100%);
    font-size: 90;
}

.bg-gradient-primary-to-secondary2 {
    background: hsl(132, 95%, 15%);
    background: linear-gradient(135deg, hsl(178, 100%, 50%) 0%, hsl(110, 100%, 50%) 100%);
    font-size: 80;
 }

.bg-gradient-primary-to-secondary4 {
    background: hsl(155, 99%, 38%);
    background: linear-gradient(135deg, hsl(133, 100%, 50%) 0%, hsl(216, 95%, 65%) 100%);
    font-size: 50;
}
.bg-gradient-primary-to-secondary5 {
    background: hsl(165, 97%, 49%);
    background: linear-gradient(135deg, hsl(119, 100%, 50%) 0%, hsl(155, 100%, 54%) 100%);
    font-size: 50;
}


.label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: rgb(33, 184, 230);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.radio-group {
    margin-bottom: 16px;
}

.radio-group label {
    margin-right: 20px;
}
