
.navbar-custom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #116506;
    color: #fff;
    padding: 10px 20px;
}

.nav-links {
    list-style-type: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #116506;
    min-width: 120px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.nav-buttons a {
    margin-left: 10px;
    color: #fff;
    text-decoration: none;
}

/* Estilos opcionales para el logo */
.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
}
